.form {
    position: relative;
    padding: 10px;
    margin: 0;
    background: #a8e1ee;

    &:after {
        position: absolute;
        z-index: 0;
        display: block;
        content: ' ';
        width: 87px;
        height: 100px;
        right: 0;
        bottom: -2px;
        background: url('./images/freken.png') no-repeat;
        background-size: 87px 100px;
    }

    &_process:after{
         animation: 0.35s tremor ease-out infinite;
     }

    &__urls {
        width: 60%;
        height: 60px;
    }

    &__button {
        cursor: pointer;
        position: absolute;
        z-index: 10;
        font-size: 16px;
        padding: 8px 50px;
        min-width: 170px;
        right: 4%;
        bottom: 8px;
        background: #000;
        color: #EFEFEF;
        border: 0;
        box-shadow: none;

        &_process {
            animation: barberpole 0.5s linear infinite;
            background-size: 30px 30px;
            background-image: linear-gradient( 45deg, rgba(73, 108, 174, 0.5) 25%, transparent 25%, transparent 50%, rgba(73, 108, 174, 0.5) 50%, rgba(73, 108, 174, 0.5) 75%, transparent 75%, transparent);
        }
    }
}

@keyframes tremor {
    0%, 25% {
        right: -1px;
        transform: translateX(-2%) translateY(0);
    }
    50%, 100% {
        right: 1px;
        transform: translateX(3%)  translateY(1%);
    }
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}
